suites:
  auth_suite:
    namespace: Indigo\Auth
    psr4_prefix: Indigo\Auth
extensions:
  - PhpSpec\Extension\CodeCoverageExtension
formatter.name: pretty
code_coverage:
  format: clover
  output: build/coverage.xml
